<br><br><br><br><br>



<div id = "addexpense">
    <a href="/todo/new" class="add-new-todo-button" id="add-new-todo-button">> Add an expense <</a>
  </div>


<div class="expenseContainer">

 <div class="card">
 <% @todos.each do |todo| %>
   <div class="item">
    
    <div id="expenseid"><%= todo.id %></div>
    
    <div id="descript">
    <a href="/todo/show/<%= todo.id %>"><%= todo.description %></a></div>
    
    <div id="cost">
    <span class="pomodoro-estimate small-pomodoro-estimate">$<%= todo.pomodoro_estimate %></span>
    </div>
    
  </div>
 <% end %>
 </div>

</div>


<div id = "addexpense">
    <a href="/todo/new" class="add-new-todo-button" id="add-new-todo-button">> Add an expense <</a>
  </div>