<br><br><br><br><br>

<h2>Add a new Expense...</h2>
<form action="/todo/create">
  <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Add a new expense...">
  <input class="text-input" id="new-pomodoro-estimate" name="pomodoro_estimate" type="number" placeholder="Cost of expense...">
  <input class="button" id="add-new-todo-button fly" type="submit" value="Add expense">
  <a href="/" class="simple-link">Go back...</a>
</form>